/* ========================================
   DARK MODE
======================================== */

[data-theme="dark"] {

    --bg: #0f172a;
    --sidebar-bg: #1e293b;
    --header-bg: #1e293b;

    --text: #e2e8f0;
    --heading: #ffffff;

    --border: #334155;
}
